{%- assign curpage = include.page -%}
<p class="post-meta">
  <!--date-->
  <span class="meta-date">
      <i class="fas fa-calendar fa-sm"></i>
      <time class="dt-published"
            datetime="{{ curpage.date | date_to_xmlschema }}"
            itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ curpage.date | date: date_format }}
      </time>
  </span>
  <!--catetory-->
    <a href="{{ curpage.categories | first | relative_url }}.html" 
       class="meta-category">
        <i class="fas fa-folder fa-sm"></i>
        {{ curpage.categories }}
    </a>
  <!--tag-->
  {%- for tag in curpage.tags -%}
  <a href="{{ "/tags" | relative_url }}.html#{{ tag | slugify }}"
     class="meta-tags">
      <i class="fas fa-tag fa-sm"></i>
    {{ tag }}
  </a>
  {%- endfor -%}
</p>
