---
layout: default
---

<div class="home">

    {{ content }}

    {%- if site.articles.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Articles" }}</h2>
    <ul class="post-list">
        {% assign sortedArticles = site.articles | sort: 'title' %}
        {% for item in sortedArticles %}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ item.date | date: date_format }}</span>
        <h3>
            <a class="post-link" href="{{ item.url | relative_url }}">
                {{ item.title | escape }}
            </a>
        </h3>
        {%- if site.show_excerpts -%}
            {{ item.excerpt }}
        {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

</div>
