---
layout: default
---

<div class="home">

    {{ content }}
    {%- assign Articles = site.articles | sort: "date" | reverse -%}

    {%- if Articles.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Articles" }}</h2>
    <ul class="post-list">
        {%- for item in Articles -%}
        <li>
        <h3 class="post-list-title">
            <a class="post-link" href="{{ item.url | relative_url }}">
                {{ item.title | escape }}
            </a>
        </h3>
        {%- include post-meta.html page=item -%}
        {%- if site.show_excerpts -%}
            {{ item.excerpt }}
        {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

</div>
