---
layout: default
---

<div class="home">

    {{ content }}
    {%- assign sortedBasic = site.Basic | sort: 'title' -%}
    {%- assign sortedAdvanced = site.Advanced | sort: 'title' -%}
    {%- assign sortedTop = site.Top | sort: 'title' -%}
    {%- assign sortedArticlesByName = sortedBasic | concat: sortedAdvanced | concat: sortedTop -%}
    {%- assign sortedArticlesByDate = sortedArticlesByName | sort: "date" | reverse -%}

    {%- if sortedArticlesByDate.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Articles" }}</h2>
    <ul class="post-list">
        {%- for item in sortedArticlesByDate -%}
        <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ item.date | date: date_format }}</span>
        <h3>
            <a class="post-link" href="{{ item.url | relative_url }}">
                {{ item.title | escape }}
            </a>
        </h3>
        {%- if site.show_excerpts -%}
            {{ item.excerpt }}
        {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

</div>
